body
{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1
{
    font-size: 50px;
}
.new
{
    color: orange;
}
.top{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left:10%;
    text-align: justify;
}
.half-width img{
    width: 95%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 10px 40px;
    border-radius: 15px;
    font-weight: 700;
    color: white;
}
.top
{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.mid
{
    display: flex;
}
.half
{
    width: 80%;
    padding-left:10%;
    text-align: justify;
    padding-left: 5%;
    padding-top: 10%;
    padding-right: 10%;
    margin-bottom: 150px;
}
.half img{
    width: 80%;
}
h2{
    font-weight: 900;
}
.mid
{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;

}